.container{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -15px;
    margin-bottom: -15px;
    /* background-color: rgb(40, 42, 46); */
    background: linear-gradient(270deg, rgb(26, 35, 54) 20%, rgba(9,94,121,1) 80%);;

}
.card{
    padding: 20px;
    height: 300px;
    width: 300px;
    border-radius: 10px;
    background-color: rgb(8, 9, 10);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: -10px 15px 30px rgb(15, 24, 27);
    
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.innerDiv{
    display: flex;
    flex-direction: column;
}
.label{
    margin: 10px;
    margin-bottom: 5px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.input{
    width: 250px;
    color: white;
    background-color: rgb(18, 21, 24);
    padding: 8px;
    border-radius: 10px;
    border-width: 0;
    outline: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.input:hover{
    outline-style: dashed;
    outline-color: rgb(2, 98, 158);
    outline-width: 1px;
    outline-offset: 2px;
}
.button{
    color: white;
    background: linear-gradient(90deg, rgb(0, 44, 87) 31%, rgba(9,94,121,1) 79%);;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    border-width: 0;
    border-radius: 10px;
    padding: 13px;
    width: 90px;
    /* transition: .3s; */
}
/* .button:hover{
    transition: .3s;
    background: linear-gradient(270deg, rgb(0, 44, 87) 31%, rgba(9,94,121,1) 79%);;
    
} */
.bottomtext{
    color: white;
}