.container{
    padding: 10px;
    background-color: rgb(34, 44, 52);
    margin: 5px;
    margin-top: 12px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    color: white;
    max-width: 40%;
    margin-right:60%;
    overflow-wrap: break-word;
    /* float: left; */
    transition: 0.2s;
}

.container:hover{
    transition: 0.3s;
    filter: brightness(1.2);
    transform: translateX(15px);
}

.containerme{
    padding: 10px;
    background-color: rgb(15, 61, 84);
    margin: 5px;
    margin-top: 12px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    max-width: 40%;
    margin-left: 60%;
    overflow-wrap: break-word;
    transition: 0.2s;
    /* float: right; */

}

/* ul:hover .containerme{
    filter: blur(5px);
}

ul .containerme:hover{
    filter: blur(0px);
}
ul:hover .container{
    filter: blur(5px);
}

ul .container:hover{
    filter: blur(0px);
} */

.containerme:hover{
    /* filter: blur(); */
    filter: brightness(1.2);
    transition: 0.3s;
    transform: translateX(-15px);
}


p{
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    
}
.username{
    color: rgb(0, 203, 243);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.time{
    /* float: right; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    font-size: 11px;
    text-align: right;
}