<nav>
    <div id="username-pic">
        <img src="<%=profile%>"/>
        <span id="username"><h1>Hi <%=username%>!</h1></span>
    </div>
    <div id="logout">
        <a href="logout"><h1>logout</h1></a>
    </div>
</nav>