<nav>
    <div id="username-pic">
        <img src="<%=profile%>"/>
        <span id="username"><h1>Hi <%=username%>!</h1></span>
    </div>
    <div id="logout">
        <a href="addProduct"><h1>Add Product</h1></a>
        <a href="logout"><h1>Logout</h1></a>
    </div>
</nav>