body{
    margin: 0;
    background-color: rgb(21, 21, 21);
}
nav{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    /* background-color: rgb(0, 132, 255); */
    background-color: rgb(35, 35, 35);
    /* background-image: linear-gradient(to bottom, rgb(255, 179, 0), rgb(255, 119, 0)); */
}
img{
    height: 50px;
    width: 50px;
}
#username-pic{
    align-items: center;
    display: flex;
}
#username{
    margin-left: 15px;
}
#logout{
    display: flex;
}
main{
    display: flex;
    /* display: grid; */
    justify-content: center;
    flex-wrap: wrap;
}
#main-pop-div{
    justify-content: center;
    display: flex;
    /* width: 100%; */
}
.card{
    color: white;
    margin: 10px;
    display: flex;
    background-color: rgb(10, 10, 10);
    padding: 10px;
    border-radius: 10px;
    flex-direction: column;
    min-height: 130px;
    width: 200px;
    justify-content: space-between;
    align-items: flex-start;
}
.card:hover{
    box-shadow: 0 4px 8px 0 rgba(255, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 47, 255, 0.19);
}

.pop-div{
    display: flex;
    min-height: 400px;
    width: 300px;
    padding: 20px;
    position: absolute;
    background-color: rgb(21, 21, 21);
    border-radius: 10px;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.pop-sub-div{
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
}
.pop-img{
    height: 100px;
    width: 100px;
}
.cancel-button{
    display: flex;
    flex-direction: row-reverse;
    /* padding: 10px; */
}
#cancel-button{
    margin: 10px;
    font-size: 15;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-width: 0px;
    border-radius: 10px;
}

.card-product-name{
    display: flex;
    text-align: left;
}
.card-product-image{
    display: flex;
}
.card-product-details-btn{
    display: flex;
}
.product-img{
    height: 70px;
    width: 70px;
}
p{
    margin:0;
    font-size: medium;
    font-weight: 400;
    color: rgb(137, 137, 137);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1{
    margin: 0;
    font-size: large;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h2{
    margin: 0;
    font-size: medium;
    font-weight: 400;
    color: rgb(137, 137, 137);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a{
    color: white;
}