body{
    margin: 0;
    background-color: rgb(21, 21, 21);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: rgb(193, 193, 193); */
}
label{
    color: white;
}
#main{
    display: grid;
    justify-items: center;
    width: 100%;
}
button{
    margin: 5px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    font-weight: 600;
    border-width: 0;
    border-radius: 5px;
    padding: 6px;
}
button:hover{
    background-color: black;
    color: white;
}

.card{
    overflow-wrap: break-word;
    color: white;
    margin: 10px;
    display: flex;
    background-color: rgb(10, 10, 10);
    /* background-color: rgb(255, 255, 255); */
    padding: 10px;
    border-radius: 10px;
    /* flex-direction: column; */
    /* flex-direction: row; */
    flex-direction: row-reverse;
    min-height: 100px;
    min-width: 260px;
    width: 500px;
    /* max-width: 300px; */
    justify-content: space-around;
    /* align-items: flex-start; */
    align-items: center;
    font-size: 30px;
    transition: .3s;
}


.card:hover {
    /* color: #ffee10; */
    box-shadow: 0 4px 8px 0 rgba(255, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 47, 255, 0.19);
    text-shadow: 0 0 5px #ffffff;
}

p{
    margin:0;
    font-size: medium;
    font-weight: 400;
    color: rgb(137, 137, 137);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1{
    margin: 0;
    color: white;
    overflow-wrap: break-word;
    font-size: 30px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h2{
    margin: 0;
    font-size: medium;
    font-weight: 400;
    color: rgb(137, 137, 137);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.alarm-div{
    background-color: darkslategray;
}
h3{
    color: white;
}