<html>
    <head>
        <title>E-Commerce</title>
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        <nav>
            <div id="username-pic">
                <img/>
                <span id="username">Hi <%=username%>!</span>
            </div>
            <div id="logout">
                <a href="logout">logout</a>
            </div>
        </nav>
        <div id="main-pop-div">
            <main id="main">
            </main>
        </div>
        <button id="load-more">Load More</button>
        <script src="../js/script.js"></script>
    </body>

</html>